version: "3.8"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  proxy:
    build: ./proxy
    ports:
      - "8081:8081"
    environment:
      - TARGET_API=http://host.docker.internal:3000
    depends_on:
      - redis

  ws-server:
    build: ./socket
    ports:
      - "8080:8080"
    depends_on:
      - redis

  collector:
    build: ./collector
    restart: unless-stopped
    depends_on:
      - redis
  
  dashboard:
    build: ./dashboard
    ports: 
      - "5173:5173"
    depends_on:
      - ws-server
