version: "3.8"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          memory: 512m

  proxy:
    build: ./proxy
    ports:
      - "8081:8081"
    environment:
      - TARGET_API=http://host.docker.internal:3000
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 256m

  ws-server:
    build: ./socket
    ports:
      - "8080:8080"
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 256m

  collector:
    build: ./collector
    restart: unless-stopped
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 256m
    volumes:
      - /:/hostfs:ro
  
  dashboard:
    build: ./dashboard
    ports: 
      - "5173:5173"
    depends_on:
      - ws-server
    deploy:
      resources:
        limits:
          memory: 512m